.selection-div{
    display: flex;
    justify-content: center;
    width: 100%;
}

.selection{
    margin:10px;
    width: 200px;
    height: 200px;
    text-align: center;
    background: rgb(221, 222, 215);
}
