.registration-form{
   padding: 10px 20px; 
   background: brown;
   display: flex;
   flex-direction: column;
   max-width: 200px;
   margin: 200px auto;
}

.registration-form input{
    margin:10px;
}