html{
  margin-bottom: 0;
}
.App{
  background: var(--background-color);
}
.modal-open{
  overflow: hidden;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #00355e;
  --background-color: rgb(247, 247, 247);
  --attention-color:rgb(255, 183, 0);
  --color-price:black;
  --info-color:rgb(78, 78, 78);
  --extra-color:grey;
  --details-color:brown;
  --product-color:rgb(91, 91, 91);
  --border-color:rgb(213, 210, 210);
} 

.loading-div-page{
    width: 100vw;
    height: 80vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}
.loading-div{
    min-height: 100px;
    width: 100%;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid var(--attention-color);
  width: 40px;
  height: 40px;
  margin: auto auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}